$icon-zan: "\e900";
$icon-hot: "\e901";
$icon-fav: "\e902";
$icon-rightarrow: "\e903";
$icon-empty: "\e904";
$icon-bp: "\e905";
$icon-mpj: "\e90c";
$icon-mpj2: "\e906";
$icon-wo: "\e907";
$icon-mp: "\e908";
$icon-bj: "\e909";
$icon-leftarrow: "\e90a";
$icon-jhmp: "\e90b";


/* stylelint-disable */
@mixin font-face($font-family,$file-path,$font-weight: normal,$font-style:normal,$asset-pipeline: false) {
  @font-face {
    font:  {
      family: $font-family;
      weight: $font-weight;
      style: $font-style;
    }

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      font-url('#{$file-path}.woff') format('woff'),
      font-url('#{$file-path}.ttf') format('truetype'),
      font-url('#{$file-path}.svg##{$font-family}') format('svg');
    }
    @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype'),
      url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face('icon','./fonts/icon');

[class^='icon-'],
[class*=' icon-'] {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-zan {
  &:before {
    content: $icon-zan;
  }
}
.icon-hot {
  &:before {
    content: $icon-hot;
  }
}
.icon-fav {
  &:before {
    content: $icon-fav;
  }
}
.icon-rightarrow {
  &:before {
    content: $icon-rightarrow;
  }
}
.icon-empty {
  &:before {
    content: $icon-empty;
  }
}
.icon-bp {
  &:before {
    content: $icon-bp;
  }
}
.icon-mpj {
  &:before {
    content: $icon-mpj;
  }
}
.icon-mpj2 {
  &:before {
    content: $icon-mpj2;
  }
}
.icon-wo {
  &:before {
    content: $icon-wo;
  }
}
.icon-mp {
  &:before {
    content: $icon-mp;
  }
}
.icon-bj {
  &:before {
    content: $icon-bj;
  }
}
.icon-leftarrow {
  &:before {
    content: $icon-leftarrow;
  }
}
.icon-jhmp {
  &:before {
    content: $icon-jhmp;
  }
}

