/* stylelint-disable */
@mixin font-face($font-family,$file-path,$font-weight: normal,$font-style:normal,$asset-pipeline: false) {
  @font-face {
    font:  {
      family: $font-family;
      weight: $font-weight;
      style: $font-style;
    }

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      font-url('#{$file-path}.woff') format('woff'),
      font-url('#{$file-path}.ttf') format('truetype'),
      font-url('#{$file-path}.svg##{$font-family}') format('svg');
    }
    @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype'),
      url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face('icon','./fonts/icon');

[class^='icon-'],
[class*=' icon-'] {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yes:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e913";
}
.icon-add:before {
  content: "\e902";
}
.icon-zan:before {
  content: "\e903";
}
.icon-hot:before {
  content: "\e904";
}
.icon-rightarrow:before {
  content: "\e905";
}
.icon-empty:before {
  content: "\e906";
}
.icon-bp:before {
  content: "\e907";
}
.icon-mpj2:before {
  content: "\e908";
}
.icon-wo:before {
  content: "\e909";
}
.icon-mp:before {
  content: "\e90a";
}
.icon-bj:before {
  content: "\e90b";
}
.icon-leftarrow:before {
  content: "\e90c";
}
.icon-jhmp:before {
  content: "\e90d";
}
.icon-mpj:before {
  content: "\e90e";
}
.icon-downarrow:before {
  content: "\e90f";
}
.icon-uparrow:before {
  content: "\e910";
}
.icon-fav:before {
  content: "\e911";
}
.icon-v:before {
  content: "\e900";
}
.icon-tel:before {
  content: "\e901";
}
.icon-del:before {
  content: "\e912";
}
