.root{
	color: white;
}

.orbg{
	background-color: $orangered;
	height: fixpx(352);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.wrap {
	padding-top: fixpx(30);
}

.card {
	border-radius: fixpx(10);
	background-color: rgb(255, 255, 255);
	height: fixpx(441);
	margin-top: 89px;
}
